{% extends 'player/base.html' %}
{% block content %}
<p>Registration</p>
<form action="" method="post" name="reg">
    {{ form_user.as_p }}
    <input type="submit" value="registration" name="reg">
    {% csrf_token %}
</form>

<p>If you didn't find your room please add their:</p>
<form action="" method="post" name="room">
    {{ form_room.as_p }}
    <input type="submit" value="Done" name="room">
    {% csrf_token %}
</form>

<p>Enter</p>
<form action="" method="post" name="login">
    {{ form_login.as_p }}
    <input type="submit" value="login" name="login">
    {% csrf_token %}
</form>
{% endblock %}